.celestial-MainMap {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    background-color: $maybi-blue;

    @include for-phone-only {
        background-color: $yellow-maybi;
    }


    canvas {
        max-width: 100% !important;
        background-color: $maybi-blue;
    }

    #celestial-zoomin,
    #celestial-zoomout {
        left: unset !important;
        right: 10px !important;
    }
}

@include for-phone-only {

    canvas {
        translate: -35%;
    }

    .celestial-MainMap canvas {
        min-width: 1000px;
        width: 100% !important;
        height: auto !important;
        float: none;
    }
}